* {
  padding: 0;
  margin: 0;
}

iframe {
  height: 6rem;
}

body {
  margin: 0;
  color: white;
  background-color: black;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(150px);
    /* Mid-state */
  }

  100% {
    transform: translateX(0);
    /* Final state */
  }
}

.fadein {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 1rem;
}

.top-bar {
  display: flex;
  padding: 0 0 0 2rem;
  background-image: url(../assets/wlc-bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  align-items: center;
}

h2,
h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  letter-spacing: -2px;
  word-spacing: 10px;
  font-size: 38px;
}

.top-bar .contetn-pnl {
  flex: 2;
  flex-grow: 1;
  padding: 6rem 0 2rem;
  animation: moveRight 2s ease infinite;
}

.top-bar.reverse .contetn-pnl {
  animation: none;
  margin-left: -2rem;
  padding-right: 2rem;
}

.top-bar .img-wrappper {
  flex: 1;
  flex-grow: 1;
  text-align: right;
  padding-top: 2rem;
}

.top-bar .img-wrappper img {
  max-width: 100%;
  width: 50%;
}

.green {
  color: #08d665;
}

.pera-pnl {
  font-size: 20px;
  font-weight: 400;
  padding: 0rem 0 0rem 1rem;
  border-left: 2px solid #08d665;
  margin: 2rem 0;
}

.top-bar a {
  font-size: 15px;
  font-weight: 400;
  padding: 1rem;
  text-transform: uppercase;
  background-color: #08d665;
  border-radius: 11px;
  text-decoration: none;
  color: white;
  font-family: "Rubik", sans-serif;
}

.top-bar a:hover {
  border: 2px solid #08d665;
  color: #08d665;
  background-color: black;
}

.material-symbols-outlined {
  border: 2px solid;
  position: relative;
  top: 5px;
  background-color: white;
  color: #08d665;
  width: fit-content;
  padding: 0.2rem;
  border-radius: 8px;
  margin-left: 1.5rem;
}

.top-bar.reverse {
  flex-direction: row-reverse;
  background-image: url(../assets/fi);
  position: relative;
}

.reverse .img-wrappper img {
  float: left;
  width: 55%;
}

.reverse .img-wrappper::before {
  content: "";
  height: 100%;
  background-image: url(../assets/about-shape.svg);
  width: 100%;
  background-repeat: no-repeat;
  bottom: -16rem;
  z-index: -1;
  left: 0;
  position: absolute;
}

.top-bar.reverse .pera-pnl {
  line-height: 1.8;
  border-left: none;
}

.midde-pnl {
  align-items: center;
}

.midde-pnl .headingg-pnl {
  margin-top: 5rem;
  padding: 3rem 0 0 4rem;
  text-transform: uppercase;
  flex: 1;
  flex-grow: 1;
}

.midde-pnl .headingg-pnl .filltext {
  font-size: 87px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #171c1e;
  position: absolute;
  left: 4rem;
  top: 6rem;
  z-index: -1;
}

.ct-flex {
  display: flex;
}

.relative {
  position: relative;
}

.midde-pnl .headingg-pnl small {
  font-size: 25px;
  line-height: 1.5;
}

.thought-pnl {
  flex: 1;
  flex-grow: 1;
  margin: auto;
  font-size: 32px;
  margin-top: 7rem;
  border-left: 2px solid #08d665;
  padding-left: 1rem;
  text-transform: uppercase;
}

.Experience-pnl {
  margin-top: 3rem;
  margin: 5rem 4rem 0 4rem;
  gap: 1rem;
}

.thired-exp,
.second-exp,
.first-exp {
  flex: 1;
  flex-grow: 1;
  border: 2px solid green;
  padding: 1rem;
  font-size: 15px;
  line-height: 1.5;
}

.thired-exp h4,
.second-exp h4,
.first-exp h4 {
  font-size: 26px;
}

.thired-exp:hover,
.second-exp:hover,
.first-exp:hover {
  margin-top: -1.5rem;
  background-color: #131617;
}
ul {
  padding-left: 1rem;
  margin-top: 0.5rem;
}
ul li {
  padding-bottom: 0.5rem;
}

.circle-container {
  margin: 5rem 7rem 2rem 6rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  text-align: center;
}

.circle1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 12px solid white;
  border-top-color: #08d665;
  border-right-color: #08d665;
  border-left-color: #08d665;
  margin-bottom: 1.5rem;
}
.circle2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 12px solid white;
  border-top-color: #08d665;
  border-right-color: #08d665;
  border-left-color: #08d665;
  margin-bottom: 1.5rem;

}
.circle3 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 12px solid white;
  border-top-color: #08d665;
  border-right-color: #08d665;
  border-left-color: #08d665;
  margin-bottom: 1.5rem;

}
.circle4 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 12px solid white;
  border-top-color: #08d665;
  border-right-color: #08d665;
  border-left-color: #08d665;
  margin-bottom: 1.5rem;

}
